body {
	font-family: 'Fira Sans', sans-serif;
}

li a {
	color: #FFF;
}

li a:hover {
	color: #FFF;
	text-transform: none;
}

.btn-primary {
	background-color: rgb(61,63,64);
	border-color: rgba(61,63,64);
}

.btn-primary:hover {
	background-color: rgb(149, 147, 147);
	border-color: rgb(149, 147, 147);
}

.btn-success {
	background-color: rgb(149, 147, 147);
	border-color: rgb(149, 147, 147);
}

.btn-success:hover {
	background-color: rgb(61,63,64);
	border-color: rgb(61,63,64);
}

.btn-success:active {
	background-color: rgb(61,63,64);
	border-color: rgb(61,63,64);
}

.btn-success:focus {
	background-color: rgba(61,63,64);
	border-color: rgba(61,63,64);
}

.btn-info {
	background-color: rgb(149, 147, 147);
	border-color: rgb(149, 147, 147);
}

.btn-info:hover {
	background-color: rgb(149, 147, 147);
	border-color: rgb(149, 147, 147);
}

.btn-info:active {
	background-color: rgb(149, 147, 147);
	border-color: rgb(149, 147, 147);
}

.btn-info:focus {
	background-color: rgb(149, 147, 147);
	border-color: rgb(149, 147, 147);
}

.btn-warning {
	background-color: rgb(61,63,64);
	border-color: rgba(61,63,64);
	color: white;
}

.btn-warning:hover {
	background-color: rgb(61,63,64);
	border-color: rgba(61,63,64);
	color: white;
}

.btn-warning:active {
	background-color: rgb(61,63,64);
	border-color: rgba(61,63,64);
	color: white;
}

.btn-warning:focus {
	background-color: rgb(61,63,64);
	border-color: rgba(61,63,64);
	color: white;
}

section {
	margin: 50px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

#showDate {
	font-size: 125%;
	font-weight: 600;
}

#seats {
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.seat {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.aisle {
    padding-left: 50px;
}

#screen {
	border: 1px solid gray;
	margin-bottom: 50px;
	padding-top: 10px;
}

.legend {
	padding: 5px;
	margin: 3px;
}

.checkout {
	margin: auto;
	padding: 10px;
}